.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--num-squares-per-row), 1fr);
  gap: var(--grid-padding);
  padding: var(--grid-padding);
}

.dynamic-square {
  --square-size: calc((100vw - ((1 + var(--num-squares-per-row)) * var(--grid-padding))) / var(--num-squares-per-row));
  width: var(--square-size);
  height: var(--square-size);
  transition: all 0.3s ease, transform 0.1s ease;
}

.dynamic-square:hover {
  transform: scale(1.025);
  z-index: 11;
  cursor: pointer;
}

.drop-down-square {
  width: unset;
  height: unset;
  z-index: 12;
}