:root {
  --square-size: calc((100vw - ((1 + var(--num-squares-per-row)) * var(--grid-padding))) / var(--num-squares-per-row));
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--num-squares-per-row), 1fr);
  gap: var(--grid-padding);
  padding: var(--grid-padding);
  width: 100dvw;
}

.dynamic-square {
  display: flex;
  justify-content: center;
  width: var(--square-size);
  height: var(--square-size);
  transition: all 0.3s ease, transform 0.1s ease;
}

.dynamic-square:hover {
  transform: scale(1.025);
  z-index: 11;
  cursor: pointer;
}

.drop-down-square {
  width: unset;
  height: unset;
  z-index: 12;
}

.header-element {
  width: calc(100dvw - 2 * var(--grid-padding));
  grid-column: 1 / -1;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  opacity: 0.8;
}

.header-element input {
  background-color: transparent;
  width: fit-content;
}

.save {
  background-color: var(--secondary);
}

.add-heading {
  background-color: var(--secondary);
}

main {
  padding: var(--grid-padding);
}